{% extends 'registration/login.html' %}
{% load static %}
{% block title %}Task Page{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'first/login.css' %}">
  {% load crispy_forms_tags %}
  <h2 class="text-center" style="font-family:poppins text-white">Add Task</h2>
<div class="container">
  
    <form method="post" class="rounded-4 bg-black  text-center text-white">
      
      {% csrf_token %}
      {{ form|crispy }}
      <div class="text-center">
        <button type="submit" class="btn btn-info">Add Task</button>
    </div>
  </form>
  </div>
{% endblock %}