body {
  background-color:rgba(8, 101, 208, 0.5);
    font-family: Arial, sans-serif;
  }
  
  
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
  }
  
  @media only screen and (max-width: 600px) {
    .container {
      padding: 10px;
    }
  }