{% extends 'first/base.html' %}
{% load static %}

    {% block content %}
    <link rel="stylesheet" href="{% static 'first/login.css' %}">
{% load crispy_forms_tags %}
<div class="container">
    <div class="card">
      <h1 class="text-center mb-4"><u>Club Login</u></h1>
      <form method="post" class="text-white">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="text-center">
          <div class="form-group">
            <button type="submit" class="btn btn-outline-info">Login</button>
          </div>
          <p class="mb-0 text-white">Did not register? Click<a href="" style="text-decoration:none;color:white"> HERE</a></p>
        </div>
      </form>
    </div>
  </div>
{% endblock %}